@charset "UTF-8";

::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

::-webkit-scrollbar-thumb {
  background: #ccc8;
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2)
}

::-webkit-scrollbar-thumb:hover {
  background: #aaaf
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  border-radius: 10px;
  background: #fff3;
}

*:not(g) {
    transition: all .3s ease-in-out;
}

html, body {
    overflow: hidden;
    margin: 0;
}

#tree-canvas, #tree-canvas svg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}

#tree-canvas {
    width: calc(100% - 300px);
}

#tree-canvas .default-text {
    text-align: center;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 200%;
}

#tree-canvas svg {
    width: 100%;
}

#sidebar {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    text-align: center;
    color: #fff;
    background-color: #0008;
}

#sidebar>h1 {
    margin-top: 2em;
}

#sidebar #tools {
    position: relative;
    top: 15%;
}

#sidebar #tools section {
    border-top: 1px solid #fff;
    margin: 0 10px;
    padding: 10px 0;
}

button {
    display: inline-block;
    width: 80%;
    height: 32px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    color: #fff;
    background-color: #6c757d;
    font-size: 15px;
}

button:not(:disabled) {
    cursor: pointer;
}

button:not(:disabled):hover {
    background-color: #5a6268;
}

button.half {
    width: 40%;
}

button.auto {
    width: fit-content;
}

button.square {
    width: 32px;
}

button.special {
    border: transparent;
    background-color: #51aded;
}

button.special:not(:disabled):hover {
    background-color: #393e46;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

input {
    font-size: 16px;
    height: 30px;
    text-align: center;
    border: transparent;
    border-radius: 4px;
}

input.small {
    width: 4em;
}

#form-input-keys {
    margin: 5px;
}

#form-input-keys * {
    display: inline-block;
}

#input-edit-keys {
    background-color: #fff;
    border-radius: 4px 0 0 4px;
}

#btn-edit-generate {
    width: fit-content;
    border-radius: 0 4px 4px 0;
}

#form-generate-keys:not(.active) {
    display: none;
}

.page {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #0002;
}

.page:not(.active) {
    display: none;
}

.page>.dialog {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.page>.dialog .dialog-inner {
    width: 80%;
    height: 75%;
    resize: none;
}

.page>.dialog .dialog-footer {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

#text-layer>.dialog {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 600px;
    width: 600px;
    position: absolute;
}

#alert-layer {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#alert-layer section {
    width: 240px;
    padding: 10px 0;
    margin-top: 10px;
    display: block;
    color: #fff;
    border-radius: 8px;
}

#alert-layer * {
    display: inline-block;
}

#alert-layer section>div.alert-info {
    font-size: 16px;
    margin: 2px 0 2px 10px;
    width: fit-content;
    max-width: 180px;
}

#alert-layer section>button.alert-close {
    float: right;
    margin-right: 10px;
    background-color: unset;
    padding: 1px;
    width: 20px;
    height: 20px;
}

#alert-layer section>button.alert-close:hover {
    color: #0006;
    background-color: #fff6;
}

#alert-layer section.info {
    background-color: #4d9de099;
}

#alert-layer section.success {
    background-color: #3bb27399;
}

#alert-layer section.warning {
    background-color: #ffc32099;
}


#alert-layer section.error {
    background-color: #e1555499;
}